<h1>Import Contacts</h1>
<%= label_tag 'Upload your CSV file' %>
<%= file_field_tag :file, accept: 'text/csv', id: 'contacts_file_field' %>
<%= button_tag 'Import', remote: true, class: 'upload-contacts-button' %>
